<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="/images/cover.jpg" alt="" />      
      </div>
      <div class="col-md-4">
        <h1 class="display-3">Welcome!</h1>
        <p>
          Welcome to Craftsy's Homepage! Discover thousands of handcrafted jewelry designs, cloths,paintings and hoome decor from talented artists worldwide.
        </p>
        <p>Craftsy unites you with more than 2000 extraordinary master artists around the world.</p>
      </div>
    </div>
  </div>
</div>

<h4>All products</h4>
<%= render "display_products", :products => @products %>
